{{! plantilla con products actuales para el home  '/'}}
<div class="product-container">
  {{#each products}}
    <div class="card">
      <h1>{{this.title}}</h1>
      <h2>ID: {{this.id}}</h2>
      <p>Descripción: {{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoria: {{this.category}}</p>
      <p>Status: {{this.status}}</p>
      <p>Codigo: {{this.code}}</p>
    </div>
  {{/each}}
</div>