{{! plantilla con products actuales para el home  '/'}}
{{#if session.admin}}
  <h1>Rol: Administrador</h1>
{{else}}
  <h1>Rol: Usuario</h1>
{{/if}}

<h1>Bienvenido, {{session.firstName}} {{session.lastName}}</h1>
<a href="/api/sessions/logOut">Cerrar sesion</a><br />
<br />

<a href="/profile">Mi perfil</a>

<div class="product-container">
  {{#each products}}
    <div class="card">
      <h1>{{this.title}}</h1>
      <h2>ID: {{this._id}}</h2>
      <p>Descripción: {{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoria: {{this.category}}</p>
      <p>Status: {{this.status}}</p>
      <p>Codigo: {{this.code}}</p>
    </div>
  {{/each}}
</div>