{{! plantilla con products actuales para el home  '/'}}

<div class="navbar">
  <a href="/api/sessions/logOut">Cerrar sesion</a>
  {{#if admin}}
  <a href="/users">Admin. Usuarios</a>
  {{/if}}
  <a href="/profile">Mi perfil</a>
  <a href="/cartView">Mi carrito</a>
</div>

<div class="user-info">
  <h1>Bienvenido, {{session.firstName}} {{session.lastName}}</h1>
    <h1>Rol: {{roleText}}</h1>
  {{#if creator}}
    <a href="/addProduct/{{this._id}}"
                id="{{this._id}}"
                class="productMod btn btn-primary"
              >Agregar producto</a>
  {{/if}}
</div>
<div class="container d-flex justify-content-center mt-4">
  <div class="row">
    {{#each products}}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">ID: {{this._id}}</p>
            <p class="card-text">Descripción: {{this.description}}</p>
            <p class="card-text">Precio: {{this.price}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <p class="card-text">Categoria: {{this.category}}</p>
            <p class="card-text">Status: {{this.status}}</p>
            <p class="card-text">Codigo: {{this.code}}</p>
            {{#if ../creator}}
              <a href="/modifyProduct/{{this._id}}"
                class="productMod btn btn-primary"
              >Modificar producto</a>
              <div  id="{{this._id}}" class="productDel btn btn-danger">Eliminar
                producto</div><br>
              <div id="{{this._id}}" class="resultText"></div>
            {{/if}}

            {{#if ../admin}}
            {{else}}
              <div id="{{this._id}}" class="productAdd btn btn-primary">Agregar
                al carrito</div>
              <div id="{{this._id}}" class="stockText"></div>
            {{/if}}

          </div>
        </div>
      </div>

    {{/each}}

  </div>

</div>

<script src="/js/home.js"></script>